{
  "branches": ["main"],
  "repositoryUrl": "https://github.com/nclsbayona/resume-generator.git",
  "plugins": [
    [
        '@semantic-release/commit-analyzer', {
            preset: 'angular',
            releaseRules: [
                { breaking: true, release: 'major' },
                { type: 'feat', release: 'minor' },
                { type: 'fix', release: 'patch' },
                { scope: 'deps', release: 'patch' },
                //{ type: 'docs', release: 'patch' },
                { type: 'chore', release: 'patch' },
            ],
        },
    ],
    [
      "@semantic-release/exec", {
        "publishCmd": "make version=${nextRelease.version} registry_url=${process.env.CONTAINER_REGISTRY} password=${process.env.CONTAINER_REGISTRY_PASSWORD} repository_name=${process.env.CONTAINER_REGISTRY_REPOSITORY}"
      }
    ],
    "@semantic-release/release-notes-generator",
    "@semantic-release/github",
    [
      "@semantic-release/changelog",
      {
        "changelogFile": "CHANGELOG.md",
        "changelogTitle": "# The changelog\n\nAll notable changes to this project will be documented in this file.\n\nThis project tries to fully adhere to [Semantic Versioning](https://semver.org) and [Conventional Commits](https://www.conventionalcommits.org)."
      }
    ],
    [
      '@semantic-release/git',
      {
        message:
          'chore(release): :rocket: Release ${nextRelease.version} [skip ci]\n\n${nextRelease.notes} ',
      },
    ],
  ]
}
